<div
  class="background"
  style="background-image: url('/assets/images/atla_quiz.jpg')"
>
  <div class="frosty-card">
    <p class="header frosty-card-title">What type of bender are you?</p>
  </div>
  <form class="form frosty-card" [formGroup]="formGroup">
    <div *ngFor="let question of quizQuestions" class="field-checkbox">
      <p class="question frosty-card-questions">{{ question.value }}</p>
      <div *ngFor="let answer of question.answers" class="questions">
        <p-radioButton
          [inputId]="question.id + answer.element"
          [value]="answer"
          [formControlName]="question.id"
        ></p-radioButton>
        <label [for]="question.id + answer.element" class="ml-2"
          >&nbsp; {{ answer.value }}</label
        >
      </div>
    </div>
  </form>
  <div class="form">
    <p-button label="Submit" class="button" (onClick)="submit()"></p-button>
  </div>
  <div class="frosty-card" *ngIf="quizResult">
    <p class="frosty-card-questions" style="text-align: center">
      <b
        >You are {{ quizResult | indefiniteArticleSelector }}
        {{ quizResult | titlecase }}bender!</b
      ><br />Check out the
      <a [routerLink]="'/elements/' + quizResult">{{
        quizResult | titlecase
      }}</a>
      page for more details about your bending style!
    </p>
  </div>
</div>
