.frosty-card {
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(5px);
  padding: 15px;
  border-radius: 5px;
  color: black;
  .frosty-card-title{
    font-size: 32px;
    text-align: center;
  }
  .frosty-card-questions{
    padding-bottom: 10px;
    font-size: 20px;
  }
}

.background{
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form{
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-auto-flow: column;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

hr.rounded {
  border-top: 8px solid sandybrown;
  border-radius: 5px;
}

.questions{
  padding-bottom: 5px;
}
