<div
  class="background"
  style="background-image: url('{{ elementInfo?.image }}');"
>
  <div class="containers">
    <div class="frosty-card">
      <div class="frosty-card-title">{{ element | titlecase }}</div>
      <p ng-bind="textFromJSON" style="white-space: pre-wrap">
        {{ elementInfo?.summary }}
      </p>
    </div>
  </div>

  <div class="containers subcontainers">
    <div class="frosty-card">
      <div class="frosty-card-title">Notable Benders</div>
      <div>
        <li *ngFor="let i of elementInfo?.notableBenders">{{ i }}</li>
      </div>
    </div>
  </div>

  <div class="containers subcontainers">
    <div class="frosty-card">
      <div class="frosty-card-title">Previous Avatars</div>
      <div>
        <li *ngFor="let i of elementInfo?.previousAvatars">{{ i }}</li>
      </div>
    </div>
  </div>

  <div class="containers subcontainers">
    <div class="frosty-card">
      <div class="frosty-card-title">Regions for {{ element | titlecase }}</div>
      <div>
        <li *ngFor="let i of elementInfo?.regions">{{ i }}</li>
      </div>
    </div>
  </div>

  <div class="containers subcontainers">
    <div class="frosty-card">
      <div class="frosty-card-title">Specialties</div>
      <div>
        <li *ngFor="let i of elementInfo?.specialties">{{ i }}</li>
      </div>
    </div>
  </div>
</div>
