<!-- <nav>
  <a href="#">ATLA</a>
  <ul>
    <li><a routerLink="/welcome">Home</a></li>
    <li><a routerLink="/elements/fire">Fire</a></li>
    <li><a routerLink="/elements/earth">Earth</a></li>
    <li><a routerLink="/elements/water">Water</a></li>
    <li><a routerLink="/elements/air">Air</a></li>
  </ul>
</nav> -->



<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <img class="logo" src="/assets/images/atla_elements" routerLink="/welcome"/>
  </ng-template>

  <ng-template pTemplate="end">
  </ng-template>
</p-menubar>
